@use 'src/styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 36px 0;
  background-color: var(--general-white);
  font-family: $font-nunito;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  gap: 32px;

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
  }

  @include sm {
    width: 100%;
    padding: 0 32px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;

  @include lg{
    gap: 16px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 32%;
  padding: 16px 20px;
  gap: 16px;
  height: auto;
  background-color: var(--general-white);
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.06);

  @include lg {
    flex: 0 1 32%;
    height: auto;
    padding: 16px 16px;
    &:nth-child(2) {
      height: 187px;
    }
    &:nth-child(3) {
      height: 187px;
    }
    svg {
      width: 36px;
      height: 36px;
    }
  }

  @include md {
    flex: 0 1 48.8%;
    height: auto;
    &:nth-child(4) {
      height: 187px;
    }
    svg {
      width: 40px;
      height: 40px;
    }
  }

  @include sm {
    flex: 0 1 100%;
    height: auto !important;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;

  @include lg {
  font-size: 18px;
  }
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 12px;
}

.humanize-btn {
  width: 280px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 16px;
  color: var(--general-white, #FEFDFF);
  background-color: var(--brand-purpe-400, #6444F4);
  border-radius: 8px;
}