@use 'src/styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-nunito), sans-serif;
  width: 100%;
  height: auto;
  padding: 96px 0 64px 0;
  background-image: linear-gradient(to top, #ffffff, rgba(0, 0, 0, 0) 50%), url('~../../../public/humanize_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  @include lg {
    padding: 88px 0 64px 0;
  }

  @include md {
    background-size: revert;
    background-repeat: no-repeat;
    background-position: top;
  }
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  color: var(--white, #ffffff);

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
    align-items: center;
    justify-content: center;
  }

  @include sm {
    width: 100%;
    padding: 0 32px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 600px;

  @include md {
    width: 100%;
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: var(--general-white);
}

.subtitle {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  gap: 12px;
}

.articles-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 54px;
  color: var(--general-white);
  margin-top: 24px;
}

.load-more-btn {
  width: 300px;
  border: 2px solid var(--brand-purpe-400);
  padding: 12px 16px;
  border-radius: 8px;

  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: $shadow-card;
  }
}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--general-black);
  gap: 24px;

  p {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
}

.humanize-btn {
  width: 290px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px;
  color: var(--general-white, #fefdff);
  background-color: var(--brand-purpe-400, #6444f4);
  border-radius: 6px;

  @include sm {
    width: 100%;
  }
}
