@use 'src/styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 36px 0;
  background-color: var(--general-white);
  font-family: $font-nunito;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  gap: 32px;

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
  }

  @include sm {
    width: 100%;
    padding: 0 32px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;

  @include lg{
    gap: 16px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 32%;
  padding: 16px 20px;
  gap: 16px;
  height: 250px;
  background-color: var(--general-white);
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.06);

  @include lg {
    flex: 0 1 32%;
    height: 280px;
    gap: 16px;
    svg {
      width: 42px;
      height: 42px;
    }
  }

  @include md {
    flex: 0 1 48.8%;
    height: 250px;
  }

  @include sm {
    flex: 0 1 100%;
    height: auto;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;

  @include lg {
  font-size: 18px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  span {
    font-weight: 600;
  }
}