@use 'src/styles/helpers' as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-nunito), sans-serif;
  width: 100%;
  padding-top: 60px;
  background-image:
          linear-gradient(to top, #ffffff, rgba(0, 0, 0, 0.3) 3%),
          url('~../../../public/contact_us.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--general-white);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 40px 0 80px 0;
  gap: 40px;

  @include xl {
    max-width: 1040px;
  }
  @include lg {
    max-width: 900px;
  }
  @include md {
    padding: 24px 32px 80px 32px;
  }
}

.title {
  @include text-heading-1;
}

.sub-title {
  @include text-heading-2;
}

.description {
  @include text-subtitle-2;
  text-align: center;
  max-width: 590px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  max-width: 800px;
  @include text-subtitle-2;
}

.label {
  @include text-heading-4;

  @include sm {
    font-size: 20px;
  }
}

.text {
  @include text-subtitle-2;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}