:root {
  --black: #000000;
  --white: #FFFFFF;
  --general-black: #15343A;
  --general-white: #FEFDFF;

  --neural-900: #0F172A;
  --neural-800: #1E293B;
  --neural-700: #334155;
  --neural-600: #475569;
  --neural-500: #64748B;
  --neural-400: #94A3B8;
  --neural-300: #CBD5E1;
  --neural-200: #E2E8F0;
  --neural-100: #F1F5F9;
  --neural-50: #F8FAFC;

  --brand-purpe-900: #0F172A;
  --brand-purpe-800: #1B096C;
  --brand-purpe-700: #29138E;
  --brand-purpe-600: #3A20B0;
  --brand-purpe-500: #4E30D2;
  --brand-purpe-400: #6444F4;
  --brand-purpe-300: #8A70FF;
  --brand-purpe-200: #AC9AFF;
  --brand-purpe-100: #CEC3FF;
  --brand-purpe-50: #F0ECFF;
  --brand-purpe-20: #F5F4FE;
  --brand-purpe-10: #FAF9FF;
}
