@use '/src/styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-nunito), sans-serif;
  width: 100%;
  min-height: 830px;
  height: auto;
  padding: 96px 0;

  @include lg {
    height: auto;
    padding: 88px 0 16px 0;
  }
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
    align-items: flex-start;
    justify-content: center;
    gap: 52px;
  }

  @include sm {
    width: 100%;
    padding: 0 32px;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  .styles-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
  }
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 1 23.5%;
    min-height: 360px;
    height: auto;
    padding: 16px 20px;
    background-color: var(--general-white);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    gap: 16px;

    @include lg {
      flex: 0 1 23%;
      min-height: 375px;
      padding: 12px 16px;
    }

    @include md {
      flex: 0 1 48.2%;
      min-height: 350px;
      padding: 12px 16px;
    }

    @include sm {
      flex: 0 1 100%;
      min-height: 350px;
      padding: 12px 16px;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        color: var(--general-black);
      }

      .description {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
      }
    }
  }
}
