@use 'src/styles/helpers' as *;


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-nunito), sans-serif;
  width: 100%;
  height: auto;
  padding-top: 80px;
  margin-bottom: 80px;

  @include lg {
    height: auto;
    padding: 88px 0 16px 0;
  }
}

.container {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 52px;
  }

  @include sm {
    width: 100%;
    padding: 0 32px;
  }
}

.body {
  display: flex;
  flex: 0 35%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  color: var(--general-black);

  @include md {
    align-items: center;
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;

    @include sm {
      font-size: 24px;
    }

    @include rwd(320) {
      font-size: 20px;
    }
  }

  .paragraphs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;

    .text {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;

      @include lg {
        font-size: 13px;
      }

      @include md {
        font-size: 14px;
      }
    }
  }
}

.languages {
  display: flex;
  flex: 0 1 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: rgba(240, 236, 255, 1);
  border-radius: 20px;
  padding: 16px 16px;

  @include lg {
    height: auto;
  }
}