@use '/src/styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-nunito), sans-serif;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 120px 0 60px 0;
  background-image: linear-gradient(to top, #ffffff, rgba(0, 0, 0, 0) 50%), url('~../../../../public/humanize_bg.png');
  background-size: 100% 900px;
  background-repeat: no-repeat;
  background-position: top;

  @include lg {
    height: auto;
    padding: 88px 0 16px 0;
    background-size: 100% 650px;
  }
  @include md {
    background-size: 100% 600px;
  }
  @include md {
    background-size: 1000px 800px;
  }
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 28px;
  color: var(--white, #ffffff);

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
    align-items: center;
    justify-content: center;
  }

  @include sm {
    width: 100%;
    padding: 0 32px;
  }
}

.title-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.article-path {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.author-status {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--general-white);
  margin-left: 8px;
  color: var(--general-black);
}

.author-description {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 48px;

  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;

    @include sm {
      font-size: 28px;
    }
  }

  .article-short-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .date {
    margin-left: 12px;
  }
}

.lg-table-of-content {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 150px;
  right: 80px;
  width: 400px;
  height: auto;
  padding: 16px 20px;
  border-radius: 12px;
  gap: 16px;
  background-color: #fefdffb2;
  color: var(--general-black);
  z-index: 1000;

  @include lg {
    top: 200px;
    right: 30px;
    width: 250px;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
  .table-of-content-topics {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding: 8px 16px;
  }
  .text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}

.md-table-of-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 16px 20px;
  border-radius: 12px;
  gap: 16px;
  background-color: #fefdffb2;
  color: var(--general-black);

  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
  .table-of-content-topics {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding: 8px 16px;
  }
  .text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    width: auto;
  }
}

.content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  color: var(--general-black);

  @include lg {
    width: 650px;
  }
  @include md {
    width: 100%;
  }
}

.article-image {
  width: 800px;
  height: auto;
  padding: 24px 0 24px 0;
  @include lg {
    width: 650px;
  }
  @include md {
    width: 100%;
  }

  .image {
    width: 800px;
    height: auto;
    @include lg {
      width: 650px;
    }
    @include md {
      width: 100%;
    }
  }

  .image-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

.topic {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @include lg {
    width: 650px;
  }
  @include md {
    width: 100%;
  }

  .topic-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
  }

  .topic-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

.article-quote {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-style: italic;
  color: var(--neural-600);
  margin: 24px 0;

  .article-quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
  }
}

.written-by {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 24px 0;
}

.socials {
  display: flex;
  margin: 24px 0;
  gap: 32px;
}

.related-articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--general-black);
  margin-top: 40px;
  gap: 48px;

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
  }
}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--general-black);
  gap: 24px;

  p {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
}

.humanize-btn {
  width: 290px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px;
  color: var(--general-white, #fefdff);
  background-color: var(--brand-purpe-400, #6444f4);
  border-radius: 6px;

  @include sm {
    width: 100%;
  }
}
