@use 'src/styles/helpers' as *;

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: var(--font-nunito), sans-serif;
  width: 100%;
  height: 270px;
  background-image: linear-gradient(to bottom, #fafafa, rgba(255, 255, 255, 0) 75%),
    url('~@/assets/images/footer_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include sm {
    height: 500px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  height: 100px;
  max-width: 1200px;

  @include lg {
    max-width: 900px;
  }
  @include md {
    padding: 0 32px 40px 32px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    height: auto;
  }
}

.navigation {
  display: flex;
  gap: 60px;
  color: var(--general-white, #fefdff);
  @include lg {
    gap: 28px;
  }
  @include md {
    flex-direction: column;
    gap: 24px;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  font-weight: 600;

  @include lg {
    gap: 12px;
    font-size: 13px;
  }
  @include md {
    gap: 16px;
    font-size: 16px;
  }
  @include sm {
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
  }
}

.terms {
  width: 270px;
  font-size: 14px;
  font-weight: 400;

  button {
    text-decoration: underline;
    color: var(--general-white, #fefdff);
  }

  @include lg {
    font-size: 12px;
    width: 190px;
  }

  @include md {
    width: auto;
    font-size: 14px;
  }
  @include sm {
    width: 270px;
  }
}
