@use "src/styles/helpers" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-nunito), sans-serif;
  width: 100%;
  height: 830px;
  padding-top: 88px;
  background-image:
          linear-gradient(to top, #ffffff, rgba(0, 0, 0, 0) 50%),
          url('~../../../../public/humanize_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include lg {
    height: auto;
    padding: 88px 0 16px 0;
  }
}

.container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  color: var(--white, #FFFFFF);

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
    align-items: flex-start;
    justify-content: center;
  }

  @include sm {
    width: 100%;
    padding: 0 32px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  h1 {
    @include text-heading-5;
    font-weight: 600;

    @include sm {
      font-size: 20px;
    }
  }
  h2 {
    @include text-heading-3;
    @include sm {
      font-size: 24px;
    }
  }
}

.description {
  width: 700px;

  p:nth-child(1){
    @include text-subtitle-3;
    font-weight: 400;
  }

  @include md {
    width: auto;
  }
}

.humanize-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px;
  color: var(--general-white, #FEFDFF);
  background-color: var(--brand-purpe-400, #6444F4);
  border-radius: 6px;

  @include sm {
    width: 100%;
  }
}

.humanize-container{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;

  @include md {
    flex-direction: column;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 16px 24px;
  gap: 16px;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.22) 0 20px 50px;
  color: var(--general-black, #15343A);

  @include rwd(375) {
    padding: 12px 12px;
  }
}

.enter-text-container {
  @include lg {
   flex: 0 1 50%;
    height: 466px;
  }

  @include md {
    width: 100%;
  }

  .select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include text-subtitle-2;
  }
}

.select-container {
  display: flex;
  width: 100%;
  gap: 16px;
}

.textarea {
  border-radius: 8px;
  width: 540px;
  height: 190px;
  max-width: 540px;
  max-height: 190px;
  resize: none;
  padding: 8px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;

  @include lg {
    width: 390px;
    max-width: 390px;
  }

  @include md {
    width: 100%;
    max-width: 100%;
    height: 200px;
    max-height: 200px;
  }
}

.enter-text-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 16px;

  @include lg {
    flex-wrap: wrap;
  }
  @include md {
    flex-wrap: nowrap;
  }
  @include sm {
    flex-wrap: wrap;
  }
}

.paste-try-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;

  @include sm {
    flex-direction: column;
  }

  button {
    width: 170px;
    @include lg {
      width: 100%;
    }
    @include md {
      width: 210px;
    }
    @include sm {
      width: 100%;
    }
  }
}

.results {
  justify-content: space-between;
  @include lg {
    flex: 0 1 50%;
    height: 466px;
  }

  @include md {
    width: 100%;
  }
}

.results-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include text-subtitle-2;
}

.processingMessage {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--neural-600, #475569);
}

.successMessage {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #00814F;

  @include sm {
    font-size: 12px;
  }
}

.results-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}