@use 'src/styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 698px;
  height: auto;
  padding-top: 120px;
  font-family: var(--font-nunito), sans-serif;
  background-image: linear-gradient(to top, #ffffff, rgba(0, 0, 0, 0) 20%), url('/contact_about_us_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--general-white);

  @include md {
    height: auto;
    padding: 100px 0 36px 0;
  }

  @include sm {
    padding: 100px 0 32px 0;
  }
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  color: var(--white, #ffffff);

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
    align-items: flex-start;
    justify-content: center;
    gap: 52px;
    margin-bottom: 64px;
  }

  @include sm {
    width: 100%;
    padding: 0 32px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 580px;
  height: auto;
  gap: 16px;

  @include sm {
    width: 100%;
  }
}

.paragraphs {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  gap: 12px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
}


.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @include md {
    justify-content: center;
    gap: 24px;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex: 0 1 32%;
    min-height: 235px;
    height: auto;
    border-radius: 12px;
    padding: 16px 20px;
    gap: 16px;
    color: var(--general-black);
    background-color: var(--general-white);

    @include lg {
      min-height: 275px;
    }

    @include md {
      flex: 0 1 48.2%;
      min-height: 250px;
      height: auto;
    }

    @include sm {
      flex: 0 1 100%;
      min-height: 0;
      height: auto;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 12px;
    }

    .title {
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
    }

    .description {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }

    .email {
      font-size: 14px;
      font-weight: 600;
      line-height: 150%;
      cursor: pointer;
    }
  }
}