@use 'src/styles/helpers' as *;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  @include lg {
    margin-top: 40px;
  }
  @include sm {
    padding: 32px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    opacity: 0.6;
    z-index: -1;
    background: radial-gradient(rgba(206, 195, 255, 1) 25%, rgba(255, 255, 255, 0) 70%);
  }

  &::before {
    width: 415px;
    height: 400px;
    transform: rotate(161deg);
    top: 10px;
    right: 80px;
  }

  &::after {
    width: 425px;
    height: 380px;
    transform: rotate(-168deg);
    top: -70px;
    right: -40px;
  }
}

.title {
  @include text-heading-1;
  margin-bottom: 32px;
}

.description {
  @include text-subtitle-2;
  text-align: center;
  max-width: 590px;
  margin-bottom: 100px;
}

.list {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 160px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    opacity: 0.8;
    z-index: -1;
    background: radial-gradient(rgba(206, 195, 255, 1) 25%, rgba(255, 255, 255, 0) 70%);
  }

  &::before {
    width: 640px;
    height: 620px;
    transform: rotate(18deg);
    bottom: 220px;
    left: 50px;
  }

  &::after {
    width: 550px;
    height: 490px;
    transform: rotate(-12deg);
    bottom: 400px;
    left: -120px;
  }
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-title {
  @include text-heading-2;
  padding-bottom: 24px;
  text-align: center;
}

.item-description {
  @include text-subtitle-2;
  max-width: 600px;
  text-align: center;
  padding-bottom: 16px;
}

.link {
  @include text-subtitle-1;
  color: var(--brand-purpe-400);
  display: flex;
  flex-direction: column;
  gap: 12px;
  @include sm {
    @include text-subtitle-3;
  }
}
