@use '/src/styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-nunito), sans-serif;
  width: 100%;
  height: auto;

  @include lg {
    height: auto;
    padding: 88px 0 16px 0;
  }
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
    align-items: flex-start;
    justify-content: center;
    gap: 52px;
  }

  @include sm {
    width: 100%;
    padding: 0 32px;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  p {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: var(--general-black);
  }
}