@use '/src/styles/helpers' as *;

.testimonialSliderContainer {
  width: 1150px;
  border-radius: 12px;
  margin: 0 auto;

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
  }

  @include sm {
    width: 90%;
  }
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 10px;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: #333000;
}

.slick-list {
  margin: 0 -7px;
  & .slick-slide > div {
    padding: 0 10px;
  }
}
