@use '/src/styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-nunito), sans-serif;}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  gap: 40px;

  @include lg {
    width: 900px;
  }

  @include md {
    width: 700px;
    align-items: flex-start;
    justify-content: center;
  }

  @include sm {
    width: 100%;
    padding: 0 32px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
}

.label {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: -4px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: var(--general-black, #15343A);
}

.quote {
  font-size: 20px;
  font-weight: 700;
  color: var(--general-black, #15343A);
  font-style: italic;
}