@use 'src/styles/helpers' as *;


.questions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0 1 49%;
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  background-color: var(--brand-purpe-50);
  transition: all 0.3s ease-in-out;

  @include lg {
    flex: 0 1 48.5%;
  }

  @include md {
    flex: 0 1 100%;
  }

  .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition:
          max-height 0.3s ease-out,
          padding 0.3s ease-out;

  p {
    margin-top: 0;
    opacity: 0;
    text-align: left;
    transition: opacity 0.4s ease;
    line-height: 150%;
  }
}

.open {
  max-height: 500px;
  padding-top: 8px;

  p {
    opacity: 1;
    margin-top: 8px;
  }
}
